/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes logoHover {
  0% {
    transform: scale(1); }
  80% { }
  100% {
    transform: scale(1.1); } }

@keyframes moveBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0px); } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 30px; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveLeft 0.5s ease-in-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveRight 0.5s ease-in-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .4s ease-in-out;
  cursor: pointer; }
  .heading-secondary:hover {
    background-image: linear-gradient(to left, #7ed56f, #28b485);
    text-shadow: 0.5rem 0rem 2rem rgba(18, 18, 18, 0.3); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-mb-small {
  margin-bottom: 1rem; }

.u-mb-medium {
  margin-bottom: 4rem; }

.u-mb-big {
  margin-bottom: 8rem; }

.u-mb-1 {
  margin-bottom: 1rem; }

.u-mb-2 {
  margin-bottom: 2rem; }

.u-mb-3 {
  margin-bottom: 3rem; }

.u-mb-4 {
  margin-bottom: 4rem; }

.u-mb-5 {
  margin-bottom: 5rem; }

.u-mb-6 {
  margin-bottom: 8rem; }

.u-mb-7 {
  margin-bottom: 7rem; }

.u-mb-8 {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  border-radius: 5rem;
  position: relative;
  transition: all 0.1s ease-in-out; }
  .btn:link:after, .btn:visited:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5rem;
    transition: all 0.4s ease-in-out; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(18, 18, 18, 0.2); }
  .btn:hover:after {
    transform: scale(1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(18, 18, 18, 0.2); }

.btn-animated {
  animation: moveBottom 0.5s ease-in-out 1s;
  animation-fill-mode: backwards; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white:after {
    background-color: #fff; }

.btn-txt:link, .btn-txt:visited {
  font-size: 1.6rem;
  color: #7ed56f;
  text-decoration: none;
  display: inline-block;
  padding: 3px 10px;
  transition: all .5s ease-in-out;
  position: relative; }
  .btn-txt:link:after, .btn-txt:visited:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 1px;
    background-color: #7ed56f;
    z-index: 1;
    transition: all .7s ease-in-out; }

.btn-txt:hover {
  background-color: #7ed56f;
  color: #fff;
  transform: translateY(-1px);
  box-shadow: 0 1rem 2rem rgba(18, 18, 18, 0.2); }
  .btn-txt:hover:after {
    height: 3px;
    background-color: #5bc948; }

.btn-txt:active {
  box-shadow: 0 0.5rem 1rem rgba(18, 18, 18, 0.5);
  transform: translateY(1px); }

.header {
  display: none;
  font-size: 2rem;
  height: 85vh;
  width: 100%;
  background-image: linear-gradient(to left bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
  position: relative;
  transition: all .4s ease-in-out; }
  .header:hover {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 5rem; }
    .header__logo:hover {
      animation: logoHover 0.1s ease-in; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.grid {
  height: 90vh;
  margin: auto; }

.row {
  display: block;
  max-width: 114rem;
  margin: auto; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    padding: 1rem; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem) /2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 1rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 1rem) / 3) + 1rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 1rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 1rem) / 4) + 1rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 1rem) / 4) + 2 * 1rem); }

.section-about {
  background-color: rgba(247, 247, 247, 0.3);
  height: 80vh;
  margin-top: -20vh;
  padding: 20vh 0; }
