/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
}

.sass {
  width: 100%;
  height: 30rem;
  font-size: 1.6rem;
}

nav {
  background-color: #559ec5;
}

nav:after {
  content: "";
  clear: both;
  display: table;
}

nav .navigation {
  float: left;
  list-style: none;
}

nav .navigation li {
  display: inline-block;
  margin-left: 10px;
}

nav .navigation li:first-child {
  margin-left: 0;
}

nav .navigation li a:link,
nav .navigation li a:visited {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: all .4s;
}

nav .navigation li a:link:hover,
nav .navigation li a:visited:hover {
  color: #ffae00;
}

nav .button {
  float: right;
}

nav .button .btn-main:link, nav .button .btn-hot:link {
  padding: 5px 15px;
  display: inline-block;
  border-radius: 50px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: #0091ff;
  text-transform: uppercase;
  transition: all .4s;
}

nav .button .btn-main:link {
  background-color: #0272ae;
}

nav .button .btn-main:link:hover {
  background-color: #026195;
}

nav .button .btn-hot:link {
  background-color: #ffae00;
}

nav .button .btn-hot:link:hover {
  background-color: #ffc64d;
}

.header {
  font-size: 2rem;
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(to left bottom, rgba(128, 214, 113, 0.8), rgba(39, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 5rem;
}

.header__logo:hover {
  animation: logoHover .1s ease-in;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveLeft .5s ease-in-out;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveRight .5s ease-in-out;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  border-radius: 5rem;
  position: relative;
  transition: all .1s ease-in-out;
}

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5rem;
  transition: all .4s ease-in-out;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

.btn:hover:after {
  transform: scale(1.5);
  opacity: 0;
}

.btn--animated {
  animation: moveBottom .5s ease-in-out 1s;
  animation-fill-mode: backwards;
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes logoHover {
  0% {
    transform: scale(1);
  }
  80% {
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes moveBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
