@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";

@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/bottons";

@import "layouts/header";

@import "pages/home";


.grid{
    height: 90vh;
    margin: auto;
}
.row{
    display: block;
    background-color: #eee;
    max-width: $grid-width;
    margin: auto;
    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }
    .col-1-of-2{
        // width: calc(50% - ($gutter-horizontal /2));
        width: calc( (100% - $gutter-horizontal ) );
    }
    div{
        display: inline-block;
        background-color: #ccc;
    }
}