/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
$color-primary: #7ed56f;
$color-secondary: #55c57a;
$color-third: #28b485;
$color-dark-gray: #777;
$color-light-gray: #f7f7f7;
$color-white: #fff;
$color-black: #121212;

$color-blue: #0091ff;
$color-text-dark: #353535;
$width-btn: 150px;
$default-font-size:1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical:1rem;
$gutter-horizontal:1rem;
$paddings:1rem

