@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes logoHover {
    0% {
        transform: scale(1);
    }

    80% {}

    100% {
        transform: scale(1.1);
    }
}

@keyframes moveBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0px);
    }
}