.section-about{
    // display: none;
    background-color: rgba($color-light-gray,  .3);

    // padding: 25rem 0;
    height: 80vh;
    // transform: translateY(-20vh);
    margin-top: -20vh;
    padding: 20vh 0;
    // position: relative;
    // z-index: -1;
    // clip-path: polygon(0vh 20vh, 100% 0, 100% 65vh, 0 100%);
}
.section-features{
    height: 80vh;
    padding: 10rem 0;
    // margin-top: -20vh;
    font-size: 2rem;
    width: 100%;
    background-image: linear-gradient(to left bottom,
            rgba($color-primary, 0.8),
            rgba($color-third, 0.8)),
        url(../img/nat-4.jpg);
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
    // position: relative;
    // transition: all .4s ease-in-out;
    transform: skewY(-7deg);
    & > *{
        transform: skewY(7deg);
    }
}