.header {
    display: none;
    font-size: 2rem;
    height: 85vh;
    width: 100%;
    background-image: linear-gradient(to left bottom,
            rgba($color-primary, 0.8),
            rgba($color-third, 0.8)),
        url(../img/hero.jpg);

    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
    position: relative;
    transition: all .4s ease-in-out;
    &:hover{
        background-image: linear-gradient(to right bottom,
            rgba($color-primary, 0.8),
            rgba($color-third, 0.8)),
        url(../img/hero.jpg);

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 5rem;

        &:hover {
            animation: logoHover 0.1s ease-in;
        }
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    
}
